{% extends "base/base.html" %}

{% block title %}Analytics{% endblock title %}

{% block content %}

<div class="container">
  <div class="section">
    <div class="card mt-4">
        <h2 class="section-title">Yearly Categorical Expense Distribution</h2>
        <div class="chart-container">
            <canvas id="topSpendersChart"></canvas>
        </div>
    </div>
  </div>

  <div class="section">
    <div class="card mt-4">
        <h2 class="section-title">Budget Monitoring</h2>
        <div class="chart-container">
            <canvas id="budgetMonitoringChart"></canvas>
        </div>
    </div>
  </div>

  <div class="section">
      <div class="card mt-4">
          <h2 class="section-title">Spending Trends and Patterns</h2>
          <div class="chart-container">
              <canvas id="spendingTrendsChart"></canvas>
          </div>
      </div>
  </div>
</div>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>
    const CURRENCY_SYMBOL = JSON.parse("{{ currency_symbol|escapejs|safe }}");
    
    // Categorical Expense Breakdown
    const topSpenderData = JSON.parse("{{ top_spender_data|escapejs|safe }}");
  
    const topSpendersChart = new Chart(document.getElementById('topSpendersChart').getContext('2d'), {
      type: 'horizontalBar',
      data: {
        labels: topSpenderData.top_spenders_labels,
        datasets: [{
          label: `Spending Amount (${CURRENCY_SYMBOL})`,
          data: topSpenderData.top_spenders_values,
          backgroundColor: 'rgba(255, 159, 64, 0.2)',
          borderColor: 'rgba(255, 159, 64, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          x: {
            beginAtZero: true
          }
        }
      }
    });  

    // Budget Monitoring
    const budgetMonitoringData = JSON.parse("{{ budget_monitoring_data|escapejs|safe }}");
  
    const budgetMonitoringChart = new Chart(document.getElementById('budgetMonitoringChart').getContext('2d'), {
      type: 'bar',
      data: {
        labels: budgetMonitoringData.budget_monitoring_labels,
        datasets: [{
          label: `Budget Limit (${CURRENCY_SYMBOL})`,
          data: budgetMonitoringData.budget_monitoring_values,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }, {
          label: `Actual Spending (${CURRENCY_SYMBOL})`,
          data: budgetMonitoringData.expense_monitoring_values,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    // Spending Trends and Patterns
    const monthlyExpenseData = JSON.parse("{{ monthly_expense_data|escapejs|safe }}");

    const spendingTrendsChart = new Chart(document.getElementById('spendingTrendsChart').getContext('2d'), {
      type: 'line',
      data: {
        labels: monthlyExpenseData.monthly_expense_labels,
        datasets: [{
          label: `Total Monthly Spending (${CURRENCY_SYMBOL})`,
          data: monthlyExpenseData.monthly_expense_values,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
  

{% endblock content %}