{% extends "base/base.html" %}

{% block title %}Categories{% endblock title %}

{% block content %}

<div class="container mt-4">
    <div class="accordion" id="categoryAccordion">
        {% for category in category_list %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ category.id }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category.id }}" aria-expanded="true" aria-controls="collapse{{ category.id }}">
                    {{ category.name }}
                </button>
            </h2>
            <div id="collapse{{ category.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ category.id }}" data-bs-parent="#categoryAccordion">
                <div class="accordion-body">
                    <h5>{{ category.name }}</h5>
                    <p>{{ category.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}